# Ignorer tous les fichiers class
*.class

# Ignorer les objets et les archives
*.[oa]

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws


# Properties
*.properties


# Mac
.DS_Store

# Maven
log/
target/
lib/